.google_logo {
    position: absolute;
    left: 42.75%;
    top: 27.5%;
}
.searchbar {
    height: 40px;
    width: 600px;
    position: absolute;
    left: 33%;
    top: 40%;
    border-radius: 50px;
    border-width: 1px;
}
.search_icon {
    position: absolute;
    left: 34%;
    top: 41%;
    z-index: 1; 
}
.sign_in {
    width: 100px;
    height:35px;
    background-color: rgb(37, 121, 231);
    display: block;
    border-radius: 8%;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: right;
}
a {
    display: block;
    padding: 8px;
    background-color: #ffffff
}
.google_search {
    position: absolute;
    left: 42%;
    top: 48%;
    height: 35px;
    width: 120px;
    display: block;
    border-radius: 8%;
    border-color: white;
}
.lucky {
    position: absolute;
    left: 50%;
    top: 48%;
    height: 35px;
    width: 120px;
    display: block;
    border-radius: 8%;
    border-color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}